/* Counter syles */
.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 600;
}

.two-numbers {
  width: 2ch;
}

.two-numbers-dots {
  margin-left: 5px;
}

/* Counter Media */
@media screen and (max-width: 376px) {
  .countdown-timer {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  .two-numbers {
    width: 2ch;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    margin-right: 4px;
  }
  .countdown-timer > span {
    width: 1.6ch;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
  }
}
