.faq-container {
  margin-top: 3rem;
}

.accordion-container {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  min-height: 340px;
}

.accordion {
  max-width: 736px;
}

.accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 8px;
  cursor: pointer;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 16px 16px;
  letter-spacing: -0.4px;
}

.accordion-title > img {
  margin-right: 16px;
  width: 12px;
  height: 12px;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  color: #ffff;
  transition: all 0.5s linear;
}

.accordion-content-show {
  padding: 0 16px 16px 16px;
  max-height: 76px;
  transition: all 0.5s linear;
}

#btn-custom {
  margin-top: 12px;
}
