/* Helper */
.grey-opacity {
  opacity: 0.64;
}
/* Reviews */
.review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 24px;
}

.review {
  padding: 1rem;
  box-shadow: 0px 16px 32px rgba(57, 53, 60, 0.08);
  border-radius: 16px;
  max-width: 319px;
  min-height: 607px;
}

.review-name {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.review-score {
  margin: 1rem 0 1rem 0;
}

.review-img {
  width: 153px;
  height: 153px;
}

.review-text {
  margin-top: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.h3-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media */

@media screen and (max-width: 1024px) {
  .review-container {
    display: flex;
    flex-direction: column;
  }
  .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 760px;
    width: 95%;
  }
  .review-name {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .review-text {
    max-width: 400px;
  }
}

@media screen and (max-width: 376px) {
  .h3-container {
    display: flex;
    align-items: left;
    justify-content: left;
  }
  .h3-container > h3 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    font-size: 20px;
  }
}
